name: 'Go'
on:
  pull_request:
    branches:
      - 'master'
  push:
    branches:
      - 'master'
  merge_group:
    branches:
      - 'master'
permissions:
  contents: 'read'
jobs:
  cover:
    name: 'Coverage'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: 'audit'
      - name: 'Set up Go'
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: '1.26'
      - name: 'Checkout'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Get Dependencies'
        run: |
          go get -v -t ./...
      - name: 'Test'
        run: |
          go test -coverprofile=coverage.txt -v ./...
      - name: 'Coverage'
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    name: 'Build and Test'
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        go:
          - '1.25'
          - '1.26'
      fail-fast: false
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: 'audit'
      - name: 'Set up Go ${{ matrix.go }}'
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ matrix.go }}
      - name: 'Checkout'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: 'Get Dependencies'
        run: |
          go get -v -t ./...
      - name: 'Build'
        run: |
          go build -v ./...
      - name: 'Test'
        run: |
          go test -v ./...
