name: 'Go'
on:
  pull_request: {}
  push:
    branches:
      - 'master'
permissions:
  contents: 'read'
jobs:
  cover:
    name: 'Coverage'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: 'audit'
      - name: 'Set up Go'
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: 1.25
      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: 'Get Dependencies'
        run: |
          go get -v -t -d ./...
      - name: 'Test'
        run: |
          go test -coverprofile=coverage.txt -v ./...
      - name: 'Coverage'
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  build:
    name: 'Build'
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        go:
          - '1.24'
          - '1.25'
      fail-fast: false
    steps:
      - name: 'Harden Runner'
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: 'audit'
      - name: 'Set up Go ${{ matrix.go }}'
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go }}
      - name: 'Checkout'
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: 'Get Dependencies'
        run: |
          go get -v -t -d ./...
      - name: 'Build'
        run: |
          go build -v ./...
      - name: 'Test'
        run: |
          go test -v ./...